<div class="jumbotron">
    <h1 class="display-4">Bienvenidos a todos y gracias - CI/CD - Chile
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <p><a class="btn btn-facebook" href="https://www.facebook.com/groups/cicdchile" role="button " target="_blank"><i class="fab fa-facebook-f"></i></a></p>
        </div>
        <div class="btn-group" role="group" aria-label="First group">
            <p><a class="btn btn-slack" href="https://join.slack.com/t/cicd-chile/shared_invite/zt-fcquuq0y-pGslzdGbXMlFHbRavQcgqQ" role="button " target="_blank"><i class="fab fa-slack"></i></a></p>
        </div>
    </h1>
    <p class="lead">Proyecto hecho en angular 10 con bootstrap 4.5 y con pipelines creados en jenkins, las imagenes estan alojadas en docker</p>
    <div class="text-center">
        <img src="/assets/img/jenkins.png" alt="" class="w-100">
    </div>
    <hr>

    <div class="row text-center">
        <div class="col-lg-6">
            <div class="text-center">
                <img src="/assets/img/DonFrancos.png" class="rounded rounded-circle" alt="... " width="140 " height="140 ">
            </div>
            <h2>Franco Bello</h2>
            <h5 class="card-title">Organizador</h5>
            <p>Desarrollador Frontend // Angular | TS | JS | CSD® | Docker | Gitlab CI | Travis CI | Jenkins CI | Firebase | Oracle | Scrum | Kanban</p>
            <div class="row">
                <div class="col text-center">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <p><a class="btn btn-linkedin" href="https://www.linkedin.com/in/franco-bello/" role="button " target="_blank"><i class="fab fa-linkedin-in"></i></a></p>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <p><a class="btn btn-twitter" href="https://twitter.com/W1zarD86" role="button " target="_blank"><i class="fab fa-twitter"></i></a></p>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <p><a class="btn btn-medium" href="https://medium.com/@fbellod" role="button " target="_blank"><i class="fab fa-medium-m"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="text-center">
                <img src="/assets/img/paulo.jpg" class="rounded rounded-circle" alt="... " width="140 " height="140 ">
            </div>
            <h2>Paulo Carrasco</h2>
            <h5 class="card-title">Mentor</h5>
            <p>DevOps Engineer // CSM® | CSD® | Technical Leader</p>
            <div class="row">
                <div class="col text-center">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <p><a class="btn btn-linkedin" href="https://www.linkedin.com/in/pcarrascog/" role="button " target="_blank"><i class="fab fa-linkedin-in"></i></a></p>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <p><a class="btn btn-twitter" href="https://twitter.com/pcarrascog" role="button " target="_blank"><i class="fab fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>