a {
    color: #000!important;
    text-decoration: none;
    background-color: transparent;
}

.btn-twitter {
    color: #fff!important;
    background-color: rgb(29, 161, 242)!important;
    border-color: rgb(29, 161, 242)!important;
}

.btn-linkedin {
    color: #fff!important;
    background-color: #0077b5!important;
    border-color: #0077b5!important;
}

.btn-slack {
    color: #fff!important;
    background-color: #611f69!important;
    border-color: #611f69!important;
}

.btn-facebook {
    color: #fff!important;
    background-color: #3b5998!important;
    border-color: #3b5998!important;
}

.btn-medium {
    color: #fff!important;
    background-color: #000!important;
    border-color: #000!important;
}